body {
    background: linear-gradient(#66cdaa, #40e0d0, #7fffd4);
    font-family: sans-serif;
    font-size: large;
    margin: 0; /* Remover margens padrão */
}
#garrafa{
    position: absolute;
    top: 3%;
    width: 5%;
    height: 50px;
}

#lupa{
    position: absolute;
    top: 3%;
    width: 6%;
    height: 60px;
    margin-left: -15px;
}


#header {
    display: flex;
    align-items: center;
    padding: 10px;
}

#reciclagem{
    display: flex;
    float: initial;
}
#header div {
    display: flex;
    align-items: center;
}

#header img {
    margin-right: 10px;
}

input {
    height: 40px; 
    width: 200px;
    padding: 5px; 
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Alinhamento ao topo */
    justify-content: space-between; /* Para alinhar itens */
    margin-bottom: 20px; 
}

.flex-container img {
    margin-right: 10px; 
}

.text-container {
    flex: 1; /* Permite que o texto ocupe o espaço restante */
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px; /* Adicionado espaço */
    background: #f0f0f0; /* Fundo claro */
}

@media (max-width: 768px) {
    #header {
        flex-direction: column; /* Empilha itens em telas pequenas */
    }
    input {
        width: 100%; /* Ocupa toda a largura disponível */
    }
}
